.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    margin-right: 20px; /* Adjust as needed */
}

table {
    width : 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
}
th {
    background-color: #000; /*black*/
}
tr:nth-child(even) {
    background-color: #990000; /* Dark Red */
}
tr:nth-child(odd) {
    background-color: #C4002F; /* Light Red */
}